header li{
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}
header li::after{
    position: absolute;
    content: '';
    bottom: -2px;
    left: 50%;
    height: 2px;
    width: 0px;
    transform: translateX(-50%);
    transition: 0.2s;
}
.rouge::after{
    background-color: red;
}
.jaune::after{
    background-color: gold;
}
.vert::after{
    background-color: yellowgreen;
}
.rouge:hover{
    color: red;
}
.jaune:hover{
    color: gold;
}
.vert:hover{
    color: yellowgreen;
}

header li:hover::after{
    width: 100%;
}
.img-sucette{
    width: 250px;
}

header{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}